.container
{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

body
{
    background-color: #e7e7e7;
}

.tweet
{
    background-color: #ffffff;
    margin-bottom: 15px;
    box-shadow: 2px 2px 2px gray;
}

.tweetHeader
{
    padding-top: 5px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.tweetUser
{
    color: #0645AD;
    font-weight: bold;
    cursor: pointer; cursor: hand;
}

.divider
{
    padding-left: 5px;
    padding-right: 5px;
}

.tweetTimestamp
{
    color: #7e7e7e;
    font-style: italic;
}

.tweetMessage
{
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 5px;
}

.tracker
{
    color: #8b0000;
    text-align: center;
    background-color: #ffffff;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    border-color: #aeaeae;
    box-shadow: 2px 2px 2px gray;
    margin-bottom: 5px;
    cursor: pointer; cursor: hand;
}

/* styles for navbar */
.navbar-default .navbar-brand .maroon
{
    color: #8B0000;
    font-family: arial;
    font-style: italic;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 2px 2px 2px gray;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

main td
{
    /* left-align tables' cells */
    text-align: left;
}